{
    "root": true,
    "extends":"@antfu",
    "rules": {
        "antfu/top-level-function":"off",
        "@typescript-eslint/ban-types":"off",
        "curly":"off",
        "unused-imports/no-unused-imports":"warn",
        "@typescript-eslint/no-use-before-define":"off"
    }
}